:root {
    --main-bg-color:#2c2f33;
    --second-bg-color:#23272a;
    --time:#888;
  }
html,body {
    padding-bottom: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: var(--main-bg-color);
    color: #fff;
    height: 100%;
    margin: 0;
    padding: 0;
}

#form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 10vh;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

#input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}

#input:focus {
    outline: none;
}

#form>button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
    cursor: pointer;
}

#messages {
    overflow-wrap: break-word;
    margin: 0 15px;
    padding: 0;
}


#messages>div>a {
    text-decoration: none;
}
#messages>div>p>small {
    color: #888;
}

#messages>div>a>small {
    color: #888;
}
.userBox {
    padding: 20px;
    width:fit-content;
    height: min-content;
    background-color: white;
    color: #23272a;
}
.btn{
    width:100%;
    color: #23272a;
    transition: all .15s;
}
.btn:hover{
    color: #000;
    font-size: 1.50rem;
}
#users{
    background-color: var(--second-bg-color);
    height: 90vh;
}
.scroll{
    height: 90vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
span{
    font-size: 1.5rem;
    vertical-align: middle;
}