<div class="container-fluid">
    
    <div class="row">
    <div class="col-2 scroll" id="users">
        <h1 id="room" class="text-center"></h1>
        <div id="usersList">

        </div>
    </div>
    <div class="col-10 scroll d-flex flex-column-reverse">
        <p id="activity"></p>
        <div id="messages" class=""></div>

        
    </div>
        <form id="form" action="">
        <input id="input" autocomplete="off" /><button id="button">Send</button><button id="geolocation">Show my location!</button>
    </form>
</div>
</div>

    