<div class="container p-5 vh-100 d-flex align-items-center justify-content-center">
    <div class="userBox border border-dark rounded-3 m-auto">
        <h1 class="d-flex justify-content-center ">Login</h1>
        <div class="d-flex justify-content-center">
            <form action="/chat" method="get" class="d-block" id="userForm">
                <div>
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" class="form-control" id="name" placeholder="Username" maxlength="12"/>

                </div>
                <div>
                    <label for="room" class="form-label">Room</label>
                    <input type="text" name="room" id="room" class="form-control" placeholder="Room" maxlength="15"/>
                </div>

                <button type="submit" class="btn btn-lg mt-2">Submit</button>
            </form>
        </div>
    </div>